<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="saveItems()" novalidate="novalidate">

    <div>
        <!-- [ngClass]="{'has-danger': !forma.get('nombreCompleto').valid && !forma.get('nombreCompleto').pristine }" -->

        <div formGroupName="nombreCompleto">
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-8">

                    <input formControlName="nombre" class="form-control" type="text" placeholder="Nombre">
                    <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.nombre').errors?.required && !forma.controls.nombreCompleto.controls.nombre.pristine">
                        Nombre requerido
                    </div>
                    <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength && !forma.controls.nombreCompleto.controls.nombre.pristine">
                        Al menos 3 caracteres.
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Apellido</label>
                <div class="col-8">

                    <input formControlName="apellido" class="form-control" type="text" placeholder="Apellido">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-8">

                <input class="form-control" formControlName="correo" type="email" placeholder="Correo electrónico">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Username</label>
            <div class="col-8">

                <input class="form-control" formControlName="username" type="text" placeholder="username">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Password</label>
            <div class="col-8">

                <input class="form-control" formControlName="password" type="password" placeholder="Password">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Password again</label>
            <div class="col-8">

                <input class="form-control" formControlName="password2" type="password" placeholder="Repeat password">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Pasatiempos</label>
            <div class="col-8" formArrayName="pasatiempos">
                <input *ngFor="let pasatiempo of forma.controls.pasatiempos.controls; let i = index" type="text" class="form-control" formControlName="{{ i }}" />
            </div>
        </div>
    </div>


    {{ forma.value | json }}


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

</form>

<button (click)="agregarPasatiempo()">Nuevo pasatiempo</button> {{ forma.valid }}

<br> {{ forma.status }}