<div class="row">
    <div class="col-md-6">
        <h4>Formularios <small>template</small></h4>
        <hr>
        <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
            <div>
                <div class="form-group row" [ngClass]="{'has-danger': nombre.errors?.required && !nombre.pristine }">
                    <label class="col-2 col-form-label">Nombre</label>
                    <div class="col-8">
                        <input class="form-control" #nombre="ngModel" type="text" name="nombre" placeholder="Nombre" [(ngModel)]="usuario.nombre" required>
                        <div class="form-control-feedback" *ngIf="nombre.errors?.required && !nombre.pristine">
                            Campo requerido
                        </div>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-danger': apellido.errors?.required && !apellido.pristine || apellido.errors?.minlength && !apellido.pristine }">
                    <label class="col-2 col-form-label">Apellido</label>
                    <div class="col-8">
                        <input class="form-control" #apellido="ngModel" type="text" name="apellido" placeholder="Apellido" minlength="5" [(ngModel)]="usuario.apellido" required>
                        <div class="error-message" *ngIf="apellido.errors?.minlength && !apellido.pristine">
                            Debe introducir almenos 5 caracteres
                        </div>
                        <div class="form-control-feedback" *ngIf="apellido.errors?.required && !apellido.pristine">
                            Campo requerido
                        </div>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-danger': email.errors?.required && !email.pristine}">
                    <label class="col-2 col-form-label">Correo</label>
                    <div class="col-8">
                        <input class="form-control" type="email" #email="ngModel" name="email" placeholder="Correo electrónico" minlength="5" [(ngModel)]="usuario.correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <div class="fomr-control-feedback" *ngIf="email.errors?.pattern && !email.pristine">
                            No es un email válido
                        </div>
                        <div class="form-control-feedback" *ngIf="email.errors?.required && !email.pristine">
                            Campo requerido
                        </div>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-danger': paises.errors?.required }">
                    <label class="col-2 col-form-label">Nombre</label>
                    <div class="col-8">
                        <select name="paises" #paises="ngModel" [(ngModel)]="usuario.pais" class="form-control">
                        <option value=""> Select an option ...</option>
                        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="custom-control custom-radio">
                        <input [(ngModel)]="usuario.sexo" value="Hombre" name="sexo" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Hombre</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input [(ngModel)]="usuario.sexo" value="Mujer" name="sexo" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Mujer</span>
                    </label>
                </div>
                <div class="form-group row">
                    <label *ngFor="let s of sex" class="custom-control custom-radio">
                        <input [(ngModel)]="usuario.sexo" [value]="s" name="sexo" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ s }}</span>
                    </label>
                </div>
                <div class="form-group row">
                    <label class="custom-control custom-checkbox">
                        <input [(ngModel)]="usuario.state" name="state" value="Soltero" type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Soltero</span>
                      </label>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                    <button type="submit" class="btn btn-outline-primary">
                      Guardar
                    </button>
                </div>
            </div>



        </form>

        <pre>
            {{ usuario | json }}
        </pre>
    </div>
</div>